.gh-button {
    position: relative;
    overflow: visible;
    display: inline-block;
    padding: .5em 2em;
    margin: 0;
    text-decoration: none;
    text-align: center;
    font: 11px/normal sans-serif;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(193,136,94,0.85);
    background-color: rgba(80,146,32,0.1);
    color: white;
    white-space: nowrap;
    cursor: pointer;
    outline: 0;
    -moz-background-clip: padding;
    background-clip: padding-box;
    zoom:1;*display: inline
}

.gh-button.active,.gh-button:active,.gh-button:hover {
    background: rgba(80,146,32,0.3);
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0,0,0,.3);
}

.gh-button:focus {
    box-shadow:0 0 8px rgba(193,136,94,.5);
    -moz-box-shadow:0 0 8px rgba(193,136,94,.5);
    -webkit-box-shadow:0 0 8px rgba(193,136,94,.5);
}

.gh-button.active,.gh-button:active {
        background-color: rgba(80,146,32,0.25);

}

.gh-button:active,gh-button:focus {
    position: relative;
    top: 1px
}

.gh-button::-moz-focus-inner {
    padding: 0;
    border: 0
}

.gh-button.icon:before {
    content: "";
    position: relative;
    top: 1px;
    float: left;
    width: 12px;
    height: 12px;
    margin: 0 .75em 0 -.25em;
    background: 0 99px no-repeat
}

.gh-button.comment.icon:before {
    background-position: 0 -132px
}

.gh-button.comment.icon:active:before,.gh-button.comment.icon:focus:before,.gh-button.comment.icon:hover:before {
    background-position: -12px -132px
}

.gh-button.primary {
    font-weight: 700
}

.gh-button.danger {
    color: #900
}

.gh-button.danger:active,.gh-button.danger:hover {
    border-color: #b53f3a;
    border-bottom-color: #a0302a;
    color: #fff;
    background-color: #dc5f59;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#dc5f59),to(#b33630));
    background-image: -moz-linear-gradient(#dc5f59,#b33630);
    background-image: -ms-linear-gradient(#dc5f59,#b33630);
    background-image: -o-linear-gradient(#dc5f59,#b33630);
    background-image: linear-gradient(#dc5f59,#b33630)
}

.gh-button.danger.active,.gh-button.danger:active {
    border-color: #a0302a;
    border-bottom-color: #bf4843;
    background-color: #dc5f59;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#dc5f59),to(#b33630));
    background-image: -moz-linear-gradient(#dc5f59,#b33630);
    background-image: -ms-linear-gradient(#dc5f59,#b33630);
    background-image: -o-linear-gradient(#dc5f59,#b33630);
    background-image: linear-gradient(#dc5f59,#b33630)
}

.gh-button.pill {
    border-radius: 50em
}

.gh-button.disable,.gh-button[disabled] {
    color: #909090;
    cursor: default
}

.gh-button.disable:hover,.gh-button[disabled]:hover {
    color: #909090!important;
    border: 1px solid #d4d4d4!important;
    text-shadow: none;
    background-color: #ececec!important;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#f4f4f4),to(#ececec))!important;
    background-image: -moz-linear-gradient(#f4f4f4,#ececec)!important;
    background-image: -ms-linear-gradient(#f4f4f4,#ececec)!important;
    background-image: -o-linear-gradient(#f4f4f4,#ececec)!important;
    background-image: linear-gradient(#f4f4f4,#ececec)!important;
    top: 0!important
}

.gh-button.big {
    font-size: 14px
}

.gh-button.big.icon:before {
    top: 0
}

.no-js .close {
    display: none
}

button.close {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    padding: 0
}

.close {
    color: #000;
    float: right;
    font-size: 20px;
    font-weight: 700;
    line-height: 18px;
    opacity: .2;
    text-shadow: 0 1px 0 #FFF
}

.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    background-color: #fcf8e3;
    border: 2px solid #FFFCF0;
    -moz-box-shadow: 0 0 0 1px #d9d5c3;
    -webkit-box-shadow: 0 0 0 1px #d9d5c3;
    box-shadow: 0 0 0 1px #d9d5c3;
    color: #a07c3d
}

.alert-heading {
    color: inherit
}

.alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 18px
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847
}

.alert-danger,.alert-error {
    background-color: #F2DEDE;
    border-color: #FAE8E8;
    -moz-box-shadow: 0 0 0 1px #CCBCBC;
    -webkit-box-shadow: 0 0 0 1px #CCBCBC;
    box-shadow: 0 0 0 1px #CCBCBC;
    color: #B94A48
}

.alert-warning {
    background-color: #fcf8e3;
    border-color: #fbeed5;
    color: #7b5e2d
}

.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #3a87ad
}

.alert-block {
    padding-top: 14px;
    padding-bottom: 14px
}

.alert-block>p,.alert-block>ul {
    margin-bottom: 0
}

.alert-block p+p {
    margin-top: 5px
}

.alert-success-new {
    background-color: #d4edda;
    border-color: #b3d4bb;
    color: #0f401c;
    border-radius: .25rem;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: .75rem 1.25rem;
    line-height: 1.5;
    margin-top: .5rem
}

table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0
}

.table {
    width: 100%;
    margin-bottom: 20px
}

.table td,.table th {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #000
}

.table th {
    font-weight: 700
}

.table thead th {
    vertical-align: bottom
}

.table tbody+tbody {
    border-top: 2px solid #000
}

.table td.nowrap,.table th.nowrap {
    white-space: nowrap
}

.table tr.heading td {
    font-weight: 700;
    text-align: center
}

.errorflash {
    border-color: #953B39!important;
    box-shadow: 0 0 6px #D59392!important
}

.icon-large:before {
    vertical-align: -10%;
    font-size: 1.3333333333333333em
}

a [class*=" icon-"],a [class^=icon-] {
    display: inline
}

[class*=" icon-"].icon-fixed-width,[class^=icon-].icon-fixed-width {
    display: inline-block;
    width: 1.1428571428571428em;
    text-align: right;
    padding-right: .2857142857142857em
}

[class*=" icon-"].icon-fixed-width.icon-large,[class^=icon-].icon-fixed-width.icon-large {
    width: 1.4285714285714286em
}

.icons-ul {
    margin-left: 2.142857142857143em;
    list-style-type: none
}

.icons-ul>li {
    position: relative
}

.icons-ul .icon-li {
    position: absolute;
    left: -2.142857142857143em;
    width: 2.142857142857143em;
    text-align: center;
    line-height: inherit
}

[class*=" icon-"].hide,[class^=icon-].hide {
    display: none
}

.icon-muted {
    color: #eee
}

.icon-light {
    color: #fff
}

.icon-dark {
    color: #333
}

.icon-border {
    border: solid 1px #eee;
    padding: .2em .25em .15em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.icon-2x {
    font-size: 2em
}

.icon-2x.icon-border {
    border-width: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.icon-3x {
    font-size: 3em
}

.icon-3x.icon-border {
    border-width: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}

.icon-4x {
    font-size: 4em
}

.icon-4x.icon-border {
    border-width: 4px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px
}

.icon-5x {
    font-size: 5em
}

.icon-5x.icon-border {
    border-width: 5px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px
}

.pull-right {
    float: right
}

.pull-left {
    float: left
}

.dropdown-menu>.active>a>[class*=" icon-"],.dropdown-menu>.active>a>[class^=icon-],.dropdown-menu>li>a:hover>[class*=" icon-"],.dropdown-menu>li>a:hover>[class^=icon-],.dropdown-submenu:hover>a>[class*=" icon-"],.dropdown-submenu:hover>a>[class^=icon-],.icon-white,.nav-list>.active>a>[class*=" icon-"],.nav-list>.active>a>[class^=icon-],.nav-pills>.active>a>[class*=" icon-"],.nav-pills>.active>a>[class^=icon-],.navbar-inverse .nav>.active>a>[class*=" icon-"],.navbar-inverse .nav>.active>a>[class^=icon-] {
    background-image: none
}

.btn [class*=" icon-"].icon-large,.btn [class^=icon-].icon-large,.nav [class*=" icon-"].icon-large,.nav [class^=icon-].icon-large {
    line-height: .9em
}

.btn [class*=" icon-"].icon-spin,.btn [class^=icon-].icon-spin,.nav [class*=" icon-"].icon-spin,.nav [class^=icon-].icon-spin {
    display: inline-block
}

.nav-pills [class*=" icon-"],.nav-pills [class*=" icon-"].icon-large,.nav-pills [class^=icon-],.nav-pills [class^=icon-].icon-large,.nav-tabs [class*=" icon-"],.nav-tabs [class*=" icon-"].icon-large,.nav-tabs [class^=icon-],.nav-tabs [class^=icon-].icon-large {
    line-height: .9em
}

.btn [class*=" icon-"].pull-left.icon-2x,.btn [class*=" icon-"].pull-right.icon-2x,.btn [class^=icon-].pull-left.icon-2x,.btn [class^=icon-].pull-right.icon-2x {
    margin-top: .18em
}

.btn [class*=" icon-"].icon-spin.icon-large,.btn [class^=icon-].icon-spin.icon-large {
    line-height: .8em
}

.btn.btn-small [class*=" icon-"].pull-left.icon-2x,.btn.btn-small [class*=" icon-"].pull-right.icon-2x,.btn.btn-small [class^=icon-].pull-left.icon-2x,.btn.btn-small [class^=icon-].pull-right.icon-2x {
    margin-top: .25em
}

.btn.btn-large [class*=" icon-"],.btn.btn-large [class^=icon-] {
    margin-top: 0
}

.btn.btn-large [class*=" icon-"].pull-left.icon-2x,.btn.btn-large [class*=" icon-"].pull-right.icon-2x,.btn.btn-large [class^=icon-].pull-left.icon-2x,.btn.btn-large [class^=icon-].pull-right.icon-2x {
    margin-top: .05em
}

.btn.btn-large [class*=" icon-"].pull-left.icon-2x,.btn.btn-large [class^=icon-].pull-left.icon-2x {
    margin-right: .2em
}

.btn.btn-large [class*=" icon-"].pull-right.icon-2x,.btn.btn-large [class^=icon-].pull-right.icon-2x {
    margin-left: .2em
}

.icon-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: -35%
}

.icon-stack [class*=" icon-"],.icon-stack [class^=icon-] {
    display: block;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 1em;
    line-height: inherit;
    *line-height: 2em
}

.icon-stack .icon-stack-base {
    font-size: 2em;
    *line-height: 1em
}

.icon-spin {
    display: inline-block;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear
}

a .icon-spin {
    display: inline-block;
    text-decoration: none
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg)
    }

    100% {
        -moz-transform: rotate(359deg)
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(359deg)
    }
}

@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg)
    }

    100% {
        -o-transform: rotate(359deg)
    }
}

@-ms-keyframes spin {
    0% {
        -ms-transform: rotate(0deg)
    }

    100% {
        -ms-transform: rotate(359deg)
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(359deg)
    }
}

.icon-rotate-90:before {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1)
}

.icon-rotate-180:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2)
}

.icon-rotate-270:before {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3)
}

.icon-flip-horizontal:before {
    -webkit-transform: scale(-1,1);
    -moz-transform: scale(-1,1);
    -ms-transform: scale(-1,1);
    -o-transform: scale(-1,1);
    transform: scale(-1,1)
}

.icon-flip-vertical:before {
    -webkit-transform: scale(1,-1);
    -moz-transform: scale(1,-1);
    -ms-transform: scale(1,-1);
    -o-transform: scale(1,-1);
    transform: scale(1,-1)
}

a .icon-flip-horizontal:before,a .icon-flip-vertical:before,a .icon-rotate-180:before,a .icon-rotate-270:before,a .icon-rotate-90:before {
    display: inline-block
}

.ir {
    display: block;
    border: 0;
    text-indent: -999em;
    overflow: hidden;
    background-color: transparent;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr;
    *line-height: 0
}

.ir br {
    display: none
}

.hidden {
    display: none!important;
    visibility: hidden
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto
}

.invisible {
    visibility: hidden
}

.clearfix:after,.clearfix:before {
    content: "";
    display: table
}

.clearfix:after {
    clear: both
}

.clearfix {
    *zoom:1}

@media print {
    * {
        background: transparent!important;
        color: #000!important;
        box-shadow: none!important;
        text-shadow: none!important;
        filter: none!important;
        -ms-filter: none!important
    }

    a,a:visited {
        text-decoration: underline
    }

    a[href]:after {
        content: " (" attr(href) ")"
    }

    abbr[title]:after {
        content: " (" attr(title) ")"
    }

    .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after {
        content: ""
    }

    blockquote,pre {
        border: 1px solid #999;
        page-break-inside: avoid
    }

    thead {
        display: table-header-group
    }

    img,tr {
        page-break-inside: avoid
    }

    img {
        max-width: 100%!important
    }

    h2,h3,p {
        orphans: 3;
        widows: 3
    }

    h2,h3 {
        page-break-after: avoid
    }
}

.key,kbd {
    display: inline;
    display: inline-block;
    min-width: 1em;
    padding: .2em .3em;
    font: 400 .85em/1 "Lucida Grande",Lucida,Arial,sans-serif;
    text-align: center;
    text-decoration: none;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    border-radius: .3em;
    border: 0;
    cursor: default;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none
}

.key[title],kbd[title] {
    cursor: help
}

.dark-keys .key,.dark-keys kbd,.key.dark,kbd.dark {
    background: #505050;
    background: -moz-linear-gradient(top,#3c3c3c,#505050);
    background: -webkit-gradient(linear,left top,left bottom,from(#3c3c3c),to(#505050));
    color: #fafafa;
    text-shadow: -1px -1px 0 #464646;
    -moz-box-shadow: inset 0 0 1px #969696,inset 0 -.05em .4em #505050,0 .1em 0 #1e1e1e,0 .1em .1em rgba(0,0,0,.3);
    -webkit-box-shadow: inset 0 0 1px #969696,inset 0 -.05em .4em #505050,0 .1em 0 #1e1e1e,0 .1em .1em rgba(0,0,0,.3);
    box-shadow: inset 0 0 1px #969696,inset 0 -.05em .4em #505050,0 .1em 0 #1e1e1e,0 .1em .1em rgba(0,0,0,.3)
}

.key,.key.light,.light-keys .key,.light-keys kbd,kbd,kbd.light {
    background: #fafafa;
    background: -moz-linear-gradient(top,#d2d2d2,#fff);
    background: -webkit-gradient(linear,left top,left bottom,from(#d2d2d2),to(#fff));
    color: #323232;
    text-shadow: 0 0 2px #fff;
    -moz-box-shadow: inset 0 0 1px #fff,inset 0 0 .4em #c8c8c8,0 .1em 0 #828282,0 .11em 0 rgba(0,0,0,.4),0 .1em .11em rgba(0,0,0,.9);
    -webkit-box-shadow: inset 0 0 1px #fff,inset 0 0 .4em #c8c8c8,0 .1em 0 #828282,0 .11em 0 rgba(0,0,0,.4),0 .1em .11em rgba(0,0,0,.9);
    box-shadow: inset 0 0 1px #fff,inset 0 0 .4em #c8c8c8,0 .1em 0 #828282,0 .11em 0 rgba(0,0,0,.4),0 .1em .11em rgba(0,0,0,.9)
}

button.unstyled-button {
    border: 0;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: 0 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none
}

.chunk-finders-tn-amethyst-icon_22 {
  background-image: url(../img/chunk-finders-tn-15.png);
  background-position: 0 0;
  width: 22px;
  height: 22px
}

.chunk-finders-tn-ancient-city-icon_22 {
  background-image: url(../img/chunk-finders-tn-15.png);
  background-position: 0 -22px;
  width: 22px;
  height: 22px
}

.chunk-finders-tn-biome-icon_22 {
  background-image: url(../img/chunk-finders-tn-15.png);
  background-position: 0 -44px;
  width: 22px;
  height: 22px
}

.chunk-finders-tn-buried-treasure-icon_22 {
  background-image: url(../img/chunk-finders-tn-15.png);
  background-position: 0 -66px;
  width: 22px;
  height: 22px
}

.chunk-finders-tn-cave-icon_22 {
  background-image: url(../img/chunk-finders-tn-15.png);
  background-position: 0 -88px;
  width: 22px;
  height: 22px
}

.chunk-finders-tn-desert-temple-icon_22 {
  background-image: url(../img/chunk-finders-tn-15.png);
  background-position: 0 -110px;
  width: 22px;
  height: 22px
}

.chunk-finders-tn-desert-well-icon_22 {
  background-image: url(../img/chunk-finders-tn-15.png);
  background-position: 0 -132px;
  width: 22px;
  height: 22px
}

.chunk-finders-tn-dungeon-icon_22 {
  background-image: url(../img/chunk-finders-tn-15.png);
  background-position: 0 -154px;
  width: 22px;
  height: 22px
}

.chunk-finders-tn-end-city-icon-ship_22 {
  background-image: url(../img/chunk-finders-tn-15.png);
  background-position: 0 -198px;
  width: 22px;
  height: 22px
}

.chunk-finders-tn-end-city-icon_22 {
  background-image: url(../img/chunk-finders-tn-15.png);
  background-position: 0 -176px;
  width: 22px;
  height: 22px
}

.chunk-finders-tn-end-gateway-icon_22 {
  background-image: url(../img/chunk-finders-tn-15.png);
  background-position: 0 -220px;
  width: 22px;
  height: 22px
}

.chunk-finders-tn-fossil-icon_22 {
  background-image: url(../img/chunk-finders-tn-15.png);
  background-position: 0 -242px;
  width: 22px;
  height: 22px
}

.chunk-finders-tn-golden-apple-icon_22 {
  background-image: url(../img/chunk-finders-tn-15.png);
  background-position: 0 -264px;
  width: 22px;
  height: 22px
}

.chunk-finders-tn-igloo2-icon_22 {
  background-image: url(../img/chunk-finders-tn-15.png);
  background-position: 0 -286px;
  width: 22px;
  height: 22px
}

.chunk-finders-tn-jungle-temple-icon_22 {
  background-image: url(../img/chunk-finders-tn-15.png);
  background-position: 0 -308px;
  width: 22px;
  height: 22px
}

.chunk-finders-tn-lava-icon_22 {
  background-image: url(../img/chunk-finders-tn-15.png);
  background-position: 0 -330px;
  width: 22px;
  height: 22px
}

.chunk-finders-tn-mansion3-icon_22 {
  background-image: url(../img/chunk-finders-tn-15.png);
  background-position: 0 -352px;
  width: 22px;
  height: 22px
}

.chunk-finders-tn-mineshaft2-icon_22 {
  background-image: url(../img/chunk-finders-tn-15.png);
  background-position: 0 -374px;
  width: 22px;
  height: 22px
}

.chunk-finders-tn-nether-fortress2-icon_22 {
  background-image: url(../img/chunk-finders-tn-15.png);
  background-position: 0 -396px;
  width: 22px;
  height: 22px
}

.chunk-finders-tn-ocean-monument2-icon_22 {
  background-image: url(../img/chunk-finders-tn-15.png);
  background-position: 0 -418px;
  width: 22px;
  height: 22px
}

.chunk-finders-tn-ocean-ruin-icon_22 {
  background-image: url(../img/chunk-finders-tn-15.png);
  background-position: 0 -440px;
  width: 22px;
  height: 22px
}

.chunk-finders-tn-ore-vein-icon_22 {
  background-image: url(../img/chunk-finders-tn-15.png);
  background-position: 0 -462px;
  width: 22px;
  height: 22px
}

.chunk-finders-tn-piglin-icon_22 {
  background-image: url(../img/chunk-finders-tn-15.png);
  background-position: 0 -484px;
  width: 22px;
  height: 22px
}

.chunk-finders-tn-pillager-outpost2-icon_22 {
  background-image: url(../img/chunk-finders-tn-15.png);
  background-position: 0 -506px;
  width: 22px;
  height: 22px
}

.chunk-finders-tn-ravine-icon_22 {
  background-image: url(../img/chunk-finders-tn-15.png);
  background-position: 0 -528px;
  width: 22px;
  height: 22px
}

.chunk-finders-tn-ruined-portal-icon_22 {
  background-image: url(../img/chunk-finders-tn-15.png);
  background-position: 0 -550px;
  width: 22px;
  height: 22px
}

.chunk-finders-tn-shipwreck2-icon_22 {
  background-image: url(../img/chunk-finders-tn-15.png);
  background-position: 0 -572px;
  width: 22px;
  height: 22px
}

.chunk-finders-tn-slime-icon_22 {
  background-image: url(../img/chunk-finders-tn-15.png);
  background-position: 0 -594px;
  width: 22px;
  height: 22px
}

.chunk-finders-tn-spawn-icon_22 {
  background-image: url(../img/chunk-finders-tn-15.png);
  background-position: 0 -616px;
  width: 22px;
  height: 22px
}

.chunk-finders-tn-stronghold-icon_22 {
  background-image: url(../img/chunk-finders-tn-15.png);
  background-position: 0 -638px;
  width: 22px;
  height: 22px
}

.chunk-finders-tn-trail-ruin-icon_22 {
  background-image: url(../img/chunk-finders-tn-15.png);
  background-position: 0 -660px;
  width: 22px;
  height: 22px
}

.chunk-finders-tn-trial-chamber-icon_22 {
  background-image: url(../img/chunk-finders-tn-15.png);
  background-position: 0 -682px;
  width: 22px;
  height: 22px
}

.chunk-finders-tn-village2-icon_22 {
  background-image: url(../img/chunk-finders-tn-15.png);
  background-position: 0 -704px;
  width: 22px;
  height: 22px
}

.chunk-finders-tn-witch-hut2-icon_22 {
  background-image: url(../img/chunk-finders-tn-15.png);
  background-position: 0 -726px;
  width: 22px;
  height: 22px
}
